/*   DEFINIÇÃO GERAL  */
/*Definindo Fonte e Marge Body e H2*/
body, h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/*Definindo Tamanho do H2*/
h2{
    font-size: 30px;
}
/*Definindo Cor de Fundo, Cor da Fonte, Area Clicavel,
e Tamanho Navbar*/
#navbar{
    background-color: #28ac0b;
    color: rgb(255, 255, 255);
    padding: 0 15px;
    height: 60px;
}
/*Definindo comportamento/orientação dos itens*/
#navbar h2, #navbar nav, #navbar ul, #navbar-list li{
    display: inline-block;
}
/*Definindo posição do Item*/
#navbar nav{
    float: right;
}
/*Definindo Altura/tamanho da Imagem, trasformação em
corte redondo em volta da imagem, posição, altura*/
#navbar img{
    height: 45px;
    border-radius: 50%;
    position: absolute ;
    top: 10px;
}
/*Definindo Margem, altura da linha, e distancia da 
margem esquerda*/
#navbar h2{
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}
/*Definindo margem da lista */
#navbar ul{
    margin-top: 22px;
}
/*Definindo margem da lista*/
#navbar li{
    margin: 0 10px;
}
/*Removendo underline dos links, mudando cor dos links*/
#navbar-list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#navbar-list li a:hover{
    border-bottom: 1px solid #fff;
}

#main-banner{
    /*color:rgb(255, 255, 255) ;*/
    /*background-color: #28ac0b;*/
    text-align: center;
    background-image: url('../img/BSupCardapioAFPESP.png');
    /*background-size: cover;*/
    /*padding-top: 15vh;*/
    padding-bottom: 15px;
}

.container img{
    display: flex;
    height: 4%;
    width: 99%;
}

#main-banner p{
    background-color: #d2b65a;
    color: rgb(0, 0, 0);
    font-size: 30px;
    width: 25%;
    padding: 1%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: normal;
}

#main-banner img{
    height: 120px;
    border-radius: 50%;
    /*background-color: #030700;*/
    margin-top: 30px;
    margin-bottom: 5px;
}

#menus p{
    color: black;
}

#menus h2, h3, h4{
    color: #ff4500;
}

#menus h2{
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#menus{
    text-align: center;
    /*background-color: #28ac0b;*/
    padding: 15px;
}

.menu1{
    border: black dotted 1px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5%;
    width: 60%;
    margin-left: 20px;
    margin-top: 10px;
}

.menu2{
    border: black dotted 1px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5%;
    width: 60%;
    margin-left: 20px;
    margin-top: 10px;
}

footer .detail{
    font-weight: bold;
}

footer p{
    margin-top: 10px;
}

footer{
    padding: 20px 0;
    background-color: #28ac0b;
    color: #fff;
    text-align: center;
}

@media(max-width: 450px)
{
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    }

    p #navbar-list li a{
        font-size: 0.5rem;
    }    

    #navbar h2 {
        display: none;
    }

    #navbar img {
        top: 5px;
    }

    #banner-info img{
        width: 150px;
        height: 150px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #navbar ul{
        margin-top: 0.3rem;
        text-align: center;
    }

    #main-banner {
        height: 40vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
        font-size: 12px;
        /*text-align: center;*/
        /*width: 130px;
        /*margin-right: auto;
        margin-left: auto;
        padding: 2px;*/
    }

    #main-banner p{
        background-color: #d2b65a;
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 50%;
        padding: 1%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-weight: normal;
    }

    .menu2{
        border: none;
    }

    .menu1{
        border: none;
    }

    .container img{
        display: none;
    }
}