body, h2, p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2{
    font-size: 30px;
}

#navbar{
    background-color: #28ac0b;
    color: rgb(255,255,255);
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav{
    display: inline-block;
}

#navbar h2{
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img{
   height: 45px;
   border-radius: 50%;
   position: absolute;
   top: 10px;
}

#navbar nav{
    float: right;
}

#navbar ul{
    margin-top: 22px;
}

#navbar li{
    margin: 0 10px;
}

#navbar-list li a{
    text-decoration: none;
    color: rgb(255,255,255);
}

#navbar-list li a:hover{
    border-bottom: 1px solid #fff;
}

#main-banner{
    height: 70vh;
    background-image: url('../img/AFPESP_BACK.jpg');
    background-size: cover;
    padding-top: 15vm;
}

#banner-info{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 50px;
}

#banner-info img{
    height: 250px;
    border-radius: 50%;
    background-color: #030700;
    margin-top: 30px;
    margin-bottom: 30px;
}

#banner-info p{
    text-align: center;
    color: #fff;
    background-color: #28ac0b;
    font-weight: normal;
    width: 260px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

#section-sobre{
    font-size: medium;
    text-align: center;
    background-color: #28ac0b;
    color: rgb(255, 255, 255);
    padding-top: 25px;
    height: 150px;
}

#section-sobre h2{
    margin-bottom: 20px;
}

#section-sobre p{
    max-width: 90%;
    font-size: large;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
}

#pagina-sections p{
    margin-top: 10px;
    margin-bottom: 10px;
}

#pagina-sections {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.fotosrec{
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #28ac0b;
    align-content: space-between;
    align-items: center;
}

.fotosrec img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    border: yellow solid 3px;
}


footer {
    padding: 20px 0;
    background-color: #28ac0b;
    color: #fff;
    text-align: center;
}

footer p{
    margin-top: 10px;
}

footer .detail{
    font-weight: bold;
}

@media(max-width: 450px)

{
    /* Geral */
    p #navbar-list li a{
        font-size: 0.5rem;
    }

    /*navbar*/
    #navbar h2 {
        display: none;
    }

    #navbar img {
        top: 5px;
    }

    #banner-info img{
        width: 150px;
        height: 150px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #navbar ul{
        margin-top: 0.3rem;
        text-align: center;
    }

    #main-banner {
        height: 40vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
        font-size: 12px;
        /*text-align: center;*/
        /*width: 130px;
        /*margin-right: auto;
        margin-left: auto;
        padding: 2px;*/
    }

    #banner-info p{
        font-size: 0.9rem;
        width: 120px;   
    }

    #section-sobre h2{
        font-size: 1.2rem;
    }

    #section-sobre p{
        font-size: small;
    }

    #section-sobre {
        padding: 10px;
        height: 150px;
    }

    #pagina-sections {

        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    #pagina-sections p{
        display: none;
    }
}